html,
body #app {
  @apply overflow-x-hidden !p-0 text-font bg-body;
  scrollbar-width: thin;
}

.module {
  @apply bg-module rounded-md px-6 py-4;
}

.selectable {
  @apply text-font hover:text-heading fill-font hover:fill-heading cursor-pointer default-transition;
}

.icon-size {
  @apply h-5;
}

.default-transition {
  @apply transition-all duration-300;
}

.popper {
  position: relative;
}

.popper::before,
.popper::after {
  --scale: 0;
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
  transition: 200ms transform;
}
.popper::before {
  content: attr(data-tooltip);
  border-radius: 0.3rem;
  color: white;
  width: max-content;
  padding: 0.25rem;
  background: black;
  font-size: 12px;
}

.popper:hover::before {
  --scale: 1;
}

.scroll-side {
  @apply w-full;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-side::-webkit-scrollbar {
  width: 10px;
  height: 10%;
}
.scroll-side::-webkit-scrollbar-thumb {
  background: #464545;
}
.scroll-main {
  @apply w-full h-full;
  overflow-x: hidden;
  overflow-y: scroll;
}
.scroll-main::-webkit-scrollbar {
  width: 10px;
  height: 10%;
}
.scroll-main::-webkit-scrollbar-thumb {
  background: #464545;
}
.icon-hidden {
  @apply opacity-0 transition-all duration-300;
  transform: translateY(30%);
}
.icon-visible:hover .icon-hidden {
  @apply opacity-100;
  transform: translateY(0%);
}

.playlist-card-name {
  @apply text-heading text-[13px] font-medium;
}
